<form action="/addByRegion" method="post">
	<label for="day">Enter date of schedule games:</label>
	&emsp;<input type="text" id="month" name="month">/
	<input type="text" id="day" name="day">/
	<input type="text" id="year" name="year">:
	<input type="text" id="time" name="time"><br />

	<label for="team">teams:</label>
	&emsp;&emsp;&emsp;<input type="text" id="team1" name="team1">
	<input type="text" id="team2" name="team2"><br />
	&emsp;&emsp;&emsp;<label for="victor">victor:</label>
	<input type="text" id="victor" name="victor">

	<select id="region" name="region">
		<option value="NA">NA</option>
		<option value="EU">EU</option>
		<!--<option value="KR">KR</option>-->
	</select>
	<input type="submit" value="Add">
</form>
