<form action="/addByRegion" method="post">
	<label for="day">Enter date of schedule games:</label>
	<input type="text" id="day" name="day">
	<input type="text" id="month" name="month">
	<input type="text" id="year" name="year">

	<label for="team">teams:</label>
	<input type="text" id="team1" name="team1">
	<input type="text" id="team2" name="team2">
	<input type="text" id="victor" name="victor">

	<select id="region" name="region">
		<option value="NA">NA</option>
		<option value="EU">EU</option>
		<!--<option value="KR">KR</option>-->
	</select>
</form>
