<!DOCTYPE html>

<head>

  	<% include ../partials/header.ejs %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/simple-sidebar.css" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <span><h3>Region</h3></span>
                </li>
                <li>
                    <span>North America</span>
                </li>
                <li>
                    <span>Europe</span>
                </li>
                <li>
                    <span>Korea</span>
                </li>
                <li>
                    <span>International</span>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
												<% if(partial == 'monkey'){ %>
													<h2><%= partial %></h2>
												<% } %>
  											<% include ../partials/header.ejs %>
												<form action="/testPost" method="post">
														<label for="team_name">Enter name: </label>
														<input id="team_name" type="text" name="name_field" value="Default name for team.">
														<input type="submit" value="OK">
												</form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    </script>

</body>

</html>

